<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeff.mapper.UserMapper">
	<select id="selByPage" resultType="user">
		select * from user
		<where>
			<if test="param1.loginName!=null and param1.loginName!=''">
				<bind name="param1.loginName" value="'%'+param1.loginName+'%'"></bind>
				<![CDATA[and login_name like #{param1.loginName}]]>
			</if>
			<if test="param1.name!=null and param1.name!=''">
				<bind name="param1.name" value="'%'+param1.name+'%'"></bind>
				<![CDATA[and name like #{param1.name}]]>
			</if>
		</where>
		limit #{param2.pageStart},#{param2.pageSize}
	</select>

	<select id="selCountByPageInfo" resultType="long">
		select count(*) from user
		<where>
			<if test="param1.loginName!=null and param1.loginName!=''">
				<bind name="param1.loginName" value="'%'+param1.loginName+'%'"></bind>
				<![CDATA[and login_name like #{param1.loginName}]]>
			</if>
			<if test="param1.name!=null and param1.name!=''">
				<bind name="param1.name" value="'%'+param1.name+'%'"></bind>
				<![CDATA[and name like #{param1.name}]]>
			</if>
		</where>
	</select>
</mapper>